<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initil-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="/css/a_style.css">
    <link rel="stylesheet" href="/css/about-last.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <section id="header">
        <a href="#"><img class="logo"></a>
        <div >
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/views/interest">Pontos de Interesse</a></li>
                <li><a href="/views/pontos-turistico">Pontos Turísticos</a></li>
                <li><a href="/views/about">About Us</a></li>
                

            </ul>
        </div>
    </section>

    <h1>Reservas</h1>
    <form action="/reservar" method="post">
        <label for="data">Data:</label>
        <input type="date" id="data" name="data">

        <label for="horario">Horário:</label>
        <input type="time" id="horario" name="horario">

        <button type="submit">Reservar</button>
    </form>



    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="/assets/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> somewhere in Belém of Pará </p>
            <p><strong>Phone:</strong> +55 (91)98551-5933</p>
            <p><strong>E-mail:</strong> mazzahudson05@outlook.com</p>
            
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="/views/about">About Us</a>
            <a href="#">Privacy Police</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>Account</h4>
            <a href="/views/login"> Sign In</a>
            <a href="/views/pontos-turistico">View tourists points</a>
            <a href="/views/interest">View interesting points</a>
            <a href="#">Help</a>
        </div>
            <div class="copyright">
                <p>@ 2024, Belem-Guide</p>
            </div>
        </div>


    </footer>
    <script src="script.js"></script>
</body>
</html>